.jumbotron {
  background-color: orange;
  padding-top: .25px;
  padding-bottom: 2px;
}

#css {
  display: none;
}

#java {
  display: none;
}

#ruby {
  display: none;
}

#design {
  display: none;
}
