body {
  background-image: url(background.jpg);
  color: white;
}
.jumbotron {
  padding-top: .25px;
  padding-bottom: 2px;
  border: .5px solid black;
  background-image: url(coffee.jpg);
  text-shadow: 1px 1px black;
}

.opening {
  text-shadow: 1px 1px black;
}

.questions {
  text-shadow: 1px 1px black;
}

#css {
  display: none;
}

#java {
  display: none;
}

#ruby {
  display: none;
}

#net {
  display: none;
}

#location {
  color: black;
}

.btn {
  color: white;
  border: .25px solid grey;
  background-image: url(background.jpeg);
}

.answer {
  text-shadow: 1px 1px black;
}

#java img {
  display: block;
  margin: auto;
  width: 30%;
  border: 2px solid black;
}

#ruby img {
  display: block;
  margin: auto;
  width: 30%;
  border: 2px solid black;
}

#net img {
  display: block;
  margin: auto;
  width: 30%;
  border: 2px solid black;
}

.well {
  border: 1px solid black;
  background-image: url(coffee.jpg);
  color: grey;
  text-shadow: 1px 1px lightgrey;
  padding-bottom: .5px;
  padding-top: 10px;
  text-align: center;
}

h6 {
  text-align: center;
}
