.jumbotron {
  background-color: orange;
  padding-top: .25px;
  padding-bottom: 2px;
}

#css {
  display: none;
}

#java {
  display: none;
}

#ruby {
  display: none;
}

#net {
  display: none;
}

.well {
  border: 1px solid purple;
  background-image: url(coffee.jpg);
  color: darkgreen;
  padding-bottom: .75px;
  text-align: center;
}

body {
  background-image: url(background.jpg);
  color: white;
}
